.ant-layout {
  background-color: #f4f4f4;
}

.site-layout-background{
  padding: 2rem 6rem 0 6rem;
}

.main-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 100%;
  background: #f0f2f5;
}

.recent_articles_container {
  // padding: 2rem 6rem 0 6rem;
}

.popular_topics {
  // padding: 2rem 6rem 5rem 6rem;
}

.footer{
    text-align: center;
    background-color: $color-1;
    color: #fff;
    margin-top: 5rem;
}

