.ant-layout {
  background-color: #f4f4f4;
}

.site-layout-background {
  padding: 2rem 6rem 0 6rem;
}

.main-container {
  // display: flex;
  // flex: auto;
  // flex-direction: column;
  min-height: 100%;
  background: #f0f2f5;
}

.recent_articles_container {
  // padding: 2rem 6rem 0 6rem;
}

.popular_topics {
  // padding: 2rem 6rem 5rem 6rem;
}

.footer {
  text-align: center;
  background-color: $color-9;
  margin-top: 5rem;
  padding: 2.2rem 6rem !important;

  &_text_container {
      margin: 0 6rem;
      &-text {
      color: $color-white;
    }
  }

  &-link {
    color: $color-white !important;
    margin: 0 2rem;
  }
}
