.quick_setup_form {
  &_content {
    padding: 1.6rem;
    border: 1px dashed rgba($color: $bordercolor, $alpha: $opacity-medium);
    border-radius: $border-radius-large;
    margin: 1.5rem 0;
    opacity: 0;
    display: none;

    &.active {
      opacity: 1;
      display: block;
    }
  }
}

.QuickSetup {
  &_UserSuggestion {
    position: relative;

    &_ListContainer {
      position: absolute;
      width: 100%;
      margin-top: 1rem;
      z-index: 10;
      border-radius: 1rem;

      .ant-card-body{
        padding: 1rem;
      }
    }

    &_ListItem {
      display: flex;
      align-items: center;
      margin: 1rem;
    }
  }
}
