.caseStudyResult {
  margin-bottom: 1rem;

  &-link {
    display: inline-block;
    padding: 1rem 0;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-card-head-title {
    padding: 1rem 0;
  }
  .ant-card-head {
    padding: 0 1.5rem;
  }

  &_header {
    display: flex;
    padding: 1.2rem 1.5rem;
    align-items: center;

    &_icons {
      display: flex;
      margin-right: 1rem;
      &-confluence {
      }
    }

    &_textContainer {
      display: flex;
      flex-direction: column;

      &-title {
        font-size: 1.4rem;
        font-weight: 600;
      }
      &-subtitle {
        font-size: 1.2rem;
      }
    }

    &-content {
      margin: 0 !important;
      // background-color: $color-10;
    }
  }

  &_body {
    padding: 1.2rem 1.5rem;

    &.scrollable {
      overflow-y: auto;
      max-height: 25rem;
    }

    &_tagcontainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 1rem;
    }

    &_contentcontainer {
      &-text {
        margin-bottom: 0.2rem !important;
      }

      &-link {
      }
    }
  }
}
