
.filters {

  .ant-collapse {
    position: relative;
    border-radius: 1rem;
    border: none !important;
  }

  .ant-collapse-content {
    border-radius: 0 0 1rem 1rem !important;
    max-height: 50rem;
    overflow-y: auto;
  }

  .ant-collapse-item {
    border: none !important;
    border-radius: 1rem !important;
  }

  .ant-collapse-header {
    border-radius: 1rem 1rem 0 0 !important;
  }

  &_container {
    &_header {
      display: flex;
      align-items: center;

      &-text {
        margin-left: 0.5rem;
      }
    }
  }
}

.filter {
  margin-bottom: 1rem;

  &-headertext {
    font-weight: 600;
  }

  &_lists {
    margin-top: 1rem;

    &_item {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;

      .ant-checkbox {
        top: 0.4rem;
      }

      .ant-checkbox-inner::after {
        left: 25%;
      }

    }
  }
  &_page {
    &_container {
      .react-pdf__Page {
        margin-top: 10px;
      }
      .react-pdf__Page__textContent {
        border-radius: 5px;
      }

      .react-pdf__Page__canvas {
        margin: 0 auto;
      }

      height: 100%;
      max-height: 500px;
      overflow: auto;
    }
  }
}
