.main_sidebar{

}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: rgba($color: $color-1, $alpha: .8);
}

.ant-menu-item-selected{
    color: $color-white;
}

.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
    color: $color-1;
}

.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected{
    color: $color-1;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
    border-color: $color-white;
}

.ant-menu-sub.ant-menu-inline{
    background-color: $color-white;
}