.recent_activity_article_item {
  min-height: 18rem;
  width: 100%;

  .ant-card-body {
    padding: 2rem 1.8rem;
  }

  &_detail {
    display: flex;

    &-container {
      width: 75%;
    }
    &-icon {
      width: 25%;
      display: flex;
      justify-content: flex-end;
    }
    &-title {
      margin-bottom: 0.8rem !important;
    }
    &-description {
      margin-bottom: 0.5rem !important;
      margin-top: 0 !important;
    }

    &-iconbox{
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &_readerContainer {
      width: 75%;

      &_customer {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;

        &-text{
          margin-left:.5rem;
        }
      }
    }
    &_iconContainer {
      width: 25%;
      display: flex;
      justify-content: flex-end;

      &-icon {
        font-size: 2.4rem;
        margin-left: 1rem;
      }
    }
  }
}

.slick-slide{
  padding: 0 .5rem;
}

.slick-track{
  padding: .2rem 0;
}

.slider_container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-actions{

  }
}