.recent_activity_article_item {
  min-height: 18rem;
  width: 100%;

  .ant-card-body {
    padding: 2rem 1.8rem;
  }

  &_detail {
    display: flex;

    &-container {
      width: 75%;
    }
    &-icon {
      width: 25%;
      display: flex;
      justify-content: flex-end;
    }
    &-title {
      color: $color-1 !important;
      margin-bottom: 0.8rem !important;
    }
    &-description {
      color: $color-2 !important;
      margin-bottom: 0.5rem !important;
      margin-top: 0 !important;
    }

    &-iconbox{
      width: 6rem;
      height: 6rem;
      box-shadow: 0px 3px 6px $color-10;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &_readerContainer {
      width: 75%;

      &_customer {
        background-color: #f3e6ff;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        color: $color-1;

        &-text{
          margin-left:.5rem;
          color:$color-1;
        }
      }
    }
    &_iconContainer {
      width: 25%;
      display: flex;
      justify-content: flex-end;

      &-icon {
        font-size: 2.4rem;
        color: #120e38;
        margin-left: 1rem;
      }
    }
  }
}
