.ant-modal-content {
  border-radius: 1rem !important;
}

.ant-modal-body {
  overflow: auto;
  padding: 1.2rem 1.5rem;
  max-height: 40rem;
}

.ant-modal-header {
  border-radius: 1rem 1rem 0 0 !important;
}
