.search_result {
  margin-bottom: 1rem;

  .ant-card-body {
    padding: 0;
  }

  .ant-card-head-title {
    padding: 1rem 0;
  }
  .ant-card-head {
    padding: 0 1.5rem;
  }

  &_header {
    display: flex;
    border-bottom: 0.1rem solid rgba($color: $bordercolor, $alpha: $opacity-medium);
    padding: 1.2rem 1.5rem;
    align-items: center;

    &.quickLinks {
      padding: 1.2rem 2.5rem;
    }

    &_icons {
      display: flex;
      margin-right: 1rem;
      &-confluence {
        color: $color-2;
      }
    }
    &-title {
      font-size: 1.4rem;
      color: $color-3;
      font-weight: 600;
      flex: 1;
    }
    &-content {
      margin: 0 !important;
      // background-color: $color-10;
    }

    &-pdf {
      background-color: rgba($color: $common_light_extra_color_7, $alpha: $opacity-medium) ;
      padding: 0.2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      color: $common_light_extra_color_6 !important;
      font-weight: 600;
    }

    &_pdfModal {
      .highlight {
        background-color: yellow !important;
      }

      .ant-modal-body {
        overflow: auto;
        max-height: 80vh;
      }
      // .react-pdf__Page {
      //   margin-top: 10px;
      // }
      .react-pdf__Page__textContent {
        border: 1px solid darkgrey;
        border-radius: 0.5rem;

        // span {
        //   transform: scale(1) translateY(-100%) !important;
        // }
      }

      .react-pdf__Page__annotations.annotationLayer {
        padding: 1rem;
      }

      .react-pdf__Page__canvas {
        margin: 0 auto;
      }
    }
  }

  &_body {
    padding: 1.2rem 1.5rem;

    &.scrollable {
      overflow-y: auto;
      max-height: 25rem;
    }

    &_tagcontainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 1rem;
    }

    &_othercontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_department {
        background-color: $lightBg;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        color: $LightBlue-primary;

        &-title {
          color: $common_light_extra_color_6 ;
          font-weight: 600;
          margin-right: 0.5rem;
        }

        &-value {
          color: $common_light_extra_color_5;
        }
      }

      &_icons {
        display: flex;
        align-items: center;

        .ant-badge-count {
          right: -0.1rem;
          top: -0.1rem;
          font-size: 1rem;
          line-height: 1.8rem;
        }

        &_views {
          display: flex;
          align-items: center;
          color: $LightBlue-primary;
          margin-right: 2rem;

          &-count {
            margin-left: 0.5rem;
            color: $LightBlue-primary;
          }
        }
        &-like {
          margin-right: 1.5rem;
        }
        &-dislike {
          margin-right: 1.5rem;
        }
      }
    }

    &_contentcontainer {
      padding: 1rem;
      // background-color: $color-11;
      border-radius: 1rem;
      font-size: 1.5rem;

      &-text {
        color:  rgba($color: $color-black, $alpha: .8);
        margin-bottom: 0.2rem !important;
      }

      &-link {
        color: $color-2 !important;
      }
    }
  }

  &_action_menu {
    .ant-dropdown-menu {
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
    }

    &_item {
      padding: 0.5rem 0;

      &:hover{
        background: none;
      }

      .ant-dropdown-menu-title-content {
        display: flex;
        align-items: center;

        &-title {
        }
      }

      &_iconContainer {
        width: 3.2rem;
        height: 3.2rem;
        background: #ddd;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
      }
    }
  }

  &_container {
    display: flex;
    align-items: flex-start;

    &-filterContainer {
      position: relative;
      margin-right: 0.8rem;
      width: 20%;
      transition: all 0.5s linear;

      .filters .ant-collapse-item {
        opacity: 1;
    
        transition: all 0.5s linear;
      }

      .filters .filters_collapse_container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 100%;
        width: 0%;
        border-radius: 1rem;
        opacity: 0;
        transition: all 0.2s linear;

        &_iconContainer {
          width: 100%;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &-icon {
          }
        }

        &_textContainer {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          &-text {
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 2rem;
            letter-spacing: 1rem;
            text-transform: uppercase;
          }
        }
      }
    }

    &-resultContainer {
      flex: 1;
    }

    &-HideShowFilter {
      position: absolute;
      top: 50%;
      right: -1.6rem;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.hideFilter.search_result_container {
  &-filterContainer {
    width: 5%;

    .filters .ant-collapse-item {
      opacity: 0;
    }

    .filters .filters_collapse_container {
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }
}
