$border-radius:1rem;

$color-1:#2E3097;
$color-2:#808080;
$color-3:#f3e6ff;
$color-4:#FFBC00;
$color-5:#5550FF;
$color-6:#4A4A4A;
$color-7:#f15a24;
$color-8:#7F7F7F;
$color-9:#120E38;
$color-10:#e3e3e3;
$color-11:#F5F5F5;
$color-12:#999999;


$color-white:#FFFFFF;