*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

.ant-card {
  line-height: 1.4;
}

.recent_activity_article_item {
  min-height: 18rem;
  width: 100%;
}

.recent_activity_article_item .ant-card-body {
  padding: 2rem 1.8rem;
}

.recent_activity_article_item_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent_activity_article_item_detail-container {
  width: 75%;
}

.recent_activity_article_item_detail-icon {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recent_activity_article_item_detail-title {
  color: #2E3097 !important;
  margin-bottom: 0.8rem !important;
}

.recent_activity_article_item_detail-description {
  color: #808080 !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0 !important;
}

.recent_activity_article_item_detail-iconbox {
  width: 6rem;
  height: 6rem;
  -webkit-box-shadow: 0px 3px 6px #e3e3e3;
          box-shadow: 0px 3px 6px #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
}

.recent_activity_article_item_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.recent_activity_article_item_footer_readerContainer {
  width: 75%;
}

.recent_activity_article_item_footer_readerContainer_customer {
  background-color: #f3e6ff;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
  color: #2E3097;
}

.recent_activity_article_item_footer_readerContainer_customer-text {
  margin-left: .5rem;
  color: #2E3097;
}

.recent_activity_article_item_footer_iconContainer {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recent_activity_article_item_footer_iconContainer-icon {
  font-size: 2.4rem;
  color: #120e38;
  margin-left: 1rem;
}

.title-text {
  color: #7F7F7F !important;
  margin: 1.5rem 1rem;
  border-radius: 0.5rem;
}

.popular_topics-card {
  border-radius: 1rem;
}

.popular_topics_container {
  margin-bottom: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular_topics_textcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 1.2rem;
}

.popular_topics_textcontainer-title {
  font-size: 1.65rem;
  color: #2E3097;
  font-weight: 600;
  margin-bottom: 0.2rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.popular_topics_textcontainer-description {
  font-size: 1.4rem;
  color: #808080;
  font-weight: 500;
  margin-bottom: 0.8rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popular_topics_textcontainer-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2E3097;
}

.popular_topics_textcontainer-views-text {
  margin-left: .5rem;
  color: #2E3097;
  font-weight: 600;
}

.popular_topics_imagecontainer {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.11);
  height: 12rem;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
}

.popular_topics_imagecontainer-image {
  width: 10rem;
  height: 10rem;
}

.popular_topics_actioncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: hidden;
}

.popular_topics_actioncontainer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular_topics_actioncontainer.active {
  visibility: visible;
}

.announcement-card {
  border-radius: 1rem;
}

.announcement_container {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.announcement_textcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1.2rem;
}

.announcement_textcontainer-title {
  font-size: 1.65rem;
  color: #4A4A4A;
  font-weight: 600;
  margin-bottom: 0.2rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.announcement_textcontainer-description {
  font-size: 1.4rem;
  color: #808080;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.announcement_imagecontainer {
  height: 6.5rem;
  width: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  padding: .5rem;
  color: #FFFFFF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.announcement_imagecontainer.even {
  background-color: #FFBC00;
}

.announcement_imagecontainer.odd {
  background-color: #5550FF;
}

.announcement_actioncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.announcement_actioncontainer-actionbtn {
  color: #5550FF !important;
  font-weight: 600;
}

.announcement_actioncontainer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ant-btn:not(.ant-btn-circle) {
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 0.5rem;
  border-color: #e3e3e3;
}

.ant-btn:not(.ant-btn-circle):hover,
.ant-btn:not(.ant-btn-circle):focus,
.ant-btn:not(.ant-btn-circle):active {
  border-color: #2E3097;
  color: #2E3097;
}

.ant-btn-primary:not(.ant-btn-circle) {
  background-color: #2E3097;
  border: none;
  padding: 0.6rem 1rem;
  min-width: 8rem;
  color: #FFFFFF;
}

.ant-btn-primary:not(.ant-btn-circle):hover,
.ant-btn-primary:not(.ant-btn-circle):focus,
.ant-btn-primary:not(.ant-btn-circle):active {
  background-color: rgba(46, 48, 151, 0.8);
  color: #FFFFFF;
}

.btn-default {
  background-color: #2E3097;
  padding: 0.6rem 1rem;
  min-width: 8rem;
  border-radius: 2rem;
  color: #FFFFFF;
}

.ant-btn-round {
  border-radius: 3.2rem;
}

.mainheader {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.mainheader_container {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 1rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainheader_container_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader_container_navbar_brandContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader_container_navbar_brandContainer-divider {
  height: 3.5rem;
  border-right: 0.2rem solid #f15a24;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader_container_navbar_brandContainer-title {
  margin: 0px !important;
  color: #FFFFFF !important;
}

.mainheader_container_navbar_menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader_container_navbar_menuContainer_items-title {
  color: #4A4A4A;
  font-weight: 600;
}

.mainheader_container_navbar_menuContainer_items-link {
  color: #7F7F7F;
}

.mainheader_container_navbar_menuContainer_items-viewall {
  color: #5550FF !important;
  font-weight: 600;
}

.mainheader_container_navbar_menuContainer_items-item {
  padding: 1.5rem;
  border-radius: 1rem;
}

.mainheader_container_navbar_menuContainer_items-item .ant-dropdown-menu-item:hover,
.mainheader_container_navbar_menuContainer_items-item .ant-dropdown-menu-submenu-title:hover {
  background: none;
}

.mainheader_container_navbar_menuContainer_menu {
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader_container_navbar_menuContainer_menu-title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.mainheader_container_navbar_menuContainer_menu .anticon {
  color: #FFFFFF;
  font-weight: 600;
}

.mainheader_container_navbar_userContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader_container_navbar_userContainer-user {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #FFFFFF;
  padding: 2rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-left: 3rem;
}

.mainheader_container_navbar_searchcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mainheader_container_navbar_searchcontainer_inputBox {
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader_container_navbar_searchcontainer_inputBox-input {
  padding: 1.2rem 8rem 1.2rem 1.5rem;
  border-radius: 3rem;
}

.mainheader_container_navbar_searchcontainer_actionBox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 1.5rem;
  color: #120E38;
}

.mainheader_container_navbar_searchcontainer_actionBox-search {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #120E38;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  color: #FFFFFF;
}

.mainheader_container-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.mainheader_container_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  height: 4rem;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.mainheader_container_title-text {
  color: #FFFFFF !important;
}

.mainheader_container_title.hidden {
  opacity: 0;
  height: 0;
  margin-bottom: 0 !important;
}

.mainheader_searchlist_container {
  width: 95%;
  top: 90%;
  margin-top: 1rem;
  position: absolute;
  z-index: 999;
}

.mainheader_searchlist_container-scrollContainer {
  max-height: 30rem;
  padding: 1.5rem !important;
}

.mainheader_searchlist_container .ant-card-body {
  padding: 0;
}

.mainheader_searchlist_container_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.2rem;
}

.mainheader_searchlist_container_item-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
  display: inline-block;
}

.mainheader_searchlist_container_item-clock {
  color: #808080;
}

.mainheader_searchlist_container_item-trash {
  color: #808080;
}

.roundcornerCard {
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px #e3e3e3;
          box-shadow: 0px 3px 6px #e3e3e3;
}

.filters .ant-collapse {
  position: relative;
  border-radius: 1rem;
  background-color: #FFFFFF;
  border: none !important;
  -webkit-box-shadow: 0px 3px 6px #e3e3e3;
          box-shadow: 0px 3px 6px #e3e3e3;
}

.filters .ant-collapse-content {
  border-radius: 0 0 1rem 1rem !important;
  border-top: 0.2rem solid #2E3097 !important;
  max-height: 50rem;
  overflow-y: auto;
}

.filters .ant-collapse-item {
  border: none !important;
  border-radius: 1rem !important;
}

.filters .ant-collapse-header {
  border-radius: 1rem 1rem 0 0 !important;
}

.filters_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters_container_header-text {
  margin-left: 0.5rem;
}

.filter {
  margin-bottom: 1rem;
}

.filter-headertext {
  font-weight: 600;
  color: #2E3097;
}

.filter_lists {
  margin-top: 1rem;
}

.filter_lists_item {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter_lists_item .ant-checkbox-inner {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  border-color: rgba(0, 0, 0, 0.5);
}

.filter_lists_item .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5550FF;
  border-color: #5550FF;
}

.filter_lists_item .ant-checkbox {
  top: 0.4rem;
}

.filter_lists_item .ant-checkbox + span {
  color: rgba(0, 0, 0, 0.8);
}

.filter_lists_item .ant-checkbox-inner::after {
  left: 25%;
}

.filter_lists_item .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.filter_lists_item .ant-checkbox:hover .ant-checkbox-inner,
.filter_lists_item .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #5550FF;
}

.filter_page_container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

.filter_page_container .react-pdf__Page {
  margin-top: 10px;
}

.filter_page_container .react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  -webkit-box-shadow: 5px 5px 5px 1px #ccc;
          box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.filter_page_container .react-pdf__Page__canvas {
  margin: 0 auto;
}

.search_result {
  margin-bottom: 1rem;
}

.search_result .ant-card-body {
  padding: 0;
}

.search_result .ant-card-head-title {
  padding: 1rem 0;
}

.search_result .ant-card-head {
  padding: 0 1.5rem;
}

.search_result_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1rem solid #e3e3e3;
  padding: 1.2rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_result_header.quickLinks {
  padding: 1.2rem 2.5rem;
}

.search_result_header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.search_result_header_icons-confluence {
  color: #5550FF;
}

.search_result_header-title {
  font-size: 1.4rem;
  color: #120E38;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search_result_header-content {
  margin: 0 !important;
}

.search_result_header-pdf {
  background-color: #F5F5F5;
  padding: 0.2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
  color: #999999 !important;
  font-weight: 600;
}

.search_result_header_pdfModal .highlight {
  background-color: yellow !important;
}

.search_result_header_pdfModal .ant-modal-body {
  overflow: auto;
  max-height: 80vh;
}

.search_result_header_pdfModal .react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  border-radius: 0.5rem;
}

.search_result_header_pdfModal .react-pdf__Page__annotations.annotationLayer {
  padding: 1rem;
}

.search_result_header_pdfModal .react-pdf__Page__canvas {
  margin: 0 auto;
}

.search_result_body {
  padding: 1.2rem 1.5rem;
}

.search_result_body.scrollable {
  overflow-y: auto;
  max-height: 25rem;
}

.search_result_body_tagcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.search_result_body_othercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_result_body_othercontainer_department {
  background-color: #F5F5F5;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  color: #2E3097;
}

.search_result_body_othercontainer_department-title {
  color: #999999;
  font-weight: 600;
  margin-right: 0.5rem;
}

.search_result_body_othercontainer_department-value {
  color: #7F7F7F;
}

.search_result_body_othercontainer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_result_body_othercontainer_icons .ant-badge-count {
  right: -0.1rem;
  top: -0.1rem;
  font-size: 1rem;
  line-height: 1.8rem;
}

.search_result_body_othercontainer_icons_views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2E3097;
  margin-right: 2rem;
}

.search_result_body_othercontainer_icons_views-count {
  margin-left: 0.5rem;
  color: #2E3097;
}

.search_result_body_othercontainer_icons-like {
  margin-right: 1.5rem;
}

.search_result_body_othercontainer_icons-dislike {
  margin-right: 1.5rem;
}

.search_result_body_contentcontainer {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.search_result_body_contentcontainer-text {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.2rem !important;
}

.search_result_body_contentcontainer-link {
  color: #5550FF !important;
}

.search_result_action_menu .ant-dropdown-menu {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.search_result_action_menu_item {
  padding: 0.5rem 0;
}

.search_result_action_menu_item:hover {
  background: none;
}

.search_result_action_menu_item .ant-dropdown-menu-title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_result_action_menu_item_iconContainer {
  width: 3.2rem;
  height: 3.2rem;
  background: #ddd;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.search_result_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.search_result_container-filterContainer {
  position: relative;
  margin-right: 0.8rem;
  width: 20%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.search_result_container-filterContainer .filters .ant-collapse-item {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.search_result_container-filterContainer .filters .filters_collapse_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  border-radius: 1rem;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search_result_container-filterContainer .filters .filters_collapse_container_iconContainer {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search_result_container-filterContainer .filters .filters_collapse_container_textContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search_result_container-filterContainer .filters .filters_collapse_container_textContainer-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.search_result_container-resultContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search_result_container-HideShowFilter {
  position: absolute;
  top: 50%;
  right: -1.6rem;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hideFilter.search_result_container-filterContainer {
  width: 5%;
}

.hideFilter.search_result_container-filterContainer .filters .ant-collapse-item {
  opacity: 0;
}

.hideFilter.search_result_container-filterContainer .filters .filters_collapse_container {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.tag {
  cursor: pointer;
}

.tag-text {
  font-size: 1.2rem !important;
  border: 0.1rem solid #e3e3e3;
  padding: 1rem;
  margin: 0 0.5rem 0.5rem 0 !important;
  color: #7F7F7F !important;
  border-radius: 0.5rem;
  text-transform: lowercase;
}

.tag-text.active {
  background-color: #2E3097;
  color: #FFFFFF !important;
}

.tag-text.disable {
  background-color: #F5F5F5;
  color: #999999 !important;
}

.caseStudyResult {
  margin-bottom: 1rem;
}

.caseStudyResult-link {
  display: inline-block;
  border-bottom: 0.1rem solid #e3e3e3;
  color: #5550FF !important;
  padding: 1rem 0;
}

.caseStudyResult .ant-card-body {
  padding: 0;
}

.caseStudyResult .ant-card-head-title {
  padding: 1rem 0;
}

.caseStudyResult .ant-card-head {
  padding: 0 1.5rem;
}

.caseStudyResult_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1rem solid #e3e3e3;
  padding: 1.2rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caseStudyResult_header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.caseStudyResult_header_icons-confluence {
  color: #5550FF;
}

.caseStudyResult_header_textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caseStudyResult_header_textContainer-title {
  font-size: 1.4rem;
  color: #120E38;
  font-weight: 600;
}

.caseStudyResult_header_textContainer-subtitle {
  font-size: 1.2rem;
  color: #999999;
}

.caseStudyResult_header-content {
  margin: 0 !important;
}

.caseStudyResult_body {
  padding: 1.2rem 1.5rem;
}

.caseStudyResult_body.scrollable {
  overflow-y: auto;
  max-height: 25rem;
}

.caseStudyResult_body_tagcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.caseStudyResult_body_contentcontainer-text {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.2rem !important;
}

.caseStudyResult_body_contentcontainer-link {
  color: #5550FF !important;
}

.swiper {
  padding-right: 5rem;
  z-index: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
  font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
  color: #2E3097;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  background: #4A4A4A;
}

.swiper-pagination-bullet-active {
  background: #2E3097;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.ant-modal-content {
  border-radius: 1rem !important;
}

.ant-modal-body {
  overflow: auto;
  padding: 1.2rem 1.5rem;
}

.search-result-preview .ant-modal-body {
  max-height: 40rem;
}

.ant-modal-header {
  border-radius: 1rem !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(46, 48, 151, 0.8);
}

.ant-menu-item-selected {
  color: #FFFFFF;
}

.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
  color: #2E3097;
}

.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected {
  color: #2E3097;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-color: #FFFFFF;
}

.ant-menu-sub.ant-menu-inline {
  background-color: #FFFFFF;
}

.ant-layout {
  background-color: #f4f4f4;
}

.site-layout-background {
  padding: 2rem 2rem 8rem 2rem;
}

.main-container {
  min-height: 100%;
  background: #f0f2f5;
  position: relative;
}

.footer {
  text-align: center;
  background-color: #120E38;
  margin-top: 5rem;
  padding: 2.2rem 6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer_text_container {
  margin: 0 6rem;
}

.footer_text_container-text {
  color: #FFFFFF;
}

.footer-link {
  color: #FFFFFF !important;
  margin: 0 2rem;
}
/*# sourceMappingURL=main.css.map */